node_modules
dist
.wabot
.cmd-channel

.git
.gitignore

.env
.env.*
!.env.example

.vscode
.claude
.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

.DS_Store

Dockerfile
.dockerignore
README.md
