# debug important things
DEBUG=wabot:*:error,wabot:*:warn,wabot:*:info

# using postgres db
DATABASE_URL=

# using AI providers (one or multiple)
OPENROUTER_API_KEY=
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
GOOGLE_API_KEY=

